@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg gradint */
/* make variable */

:root {
    /* --blue: #1e90ff;
    --white: #ffffff; */
    --tw-gradient-stops: var(--tw-gradient-from),
    --tw-gradient-from-position: 90%;
    --tw-gradient-to-position: 100%;
}

.spin {
    animation: spin 8s linear infinite;
}

@keyframes spin {
    from {
    transform: rotate(0deg);
}
    to {
    transform: rotate(360deg);
}
}